{% extends 'emp_base.html' %}


{% block main %}


<script>
    function checkpassword(){
        if(document.change_password.new_pass.value != document.change_password.cpass.value)
        {
            alert('Please enter matching password');
            document.change_password.cpass.focus();
            return false;
        }
        return true;

    }
</script>

<div class="card shadow m-2">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px">Change Password</h5>

        <div class="container-fluid" >
            <form action="" method="post" name="change_password" onsubmit="return checkpassword()">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Current Password </label>
                            <input type="password" name="current_pass" id="current_pass" class="form-control" placeholder="Enter Current Password" >
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" name="new_pass" id="" class="form-control" placeholder="Enter New Password">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" name="cpass" id="cpass" class="form-control" placeholder="Enter Confirm Password">
                        </div>
                    </div>
                </div>
                
                <input type="submit" name="submit" id="" value="Change Password" class=" m-2 px-3">
            </form>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert("Password Updates successful!");
     window.location = ("{% url 'logout' %}");
</script>
{% endif %} 
{% if error == "yes" %}
<script>
    alert('something went wrong')
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert('Current Password is Wrong')
</script>
{% endif %}
{% endblock %}